<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Certificados gerados</h1>
    <p class="mb-4 custom-subtitle">Visualize todos os certificados gerados</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 wrapper">
      <label class="form-label" for="name">Nome completo</label>
      <input [(ngModel)]="certificate.name" #nameRef="ngModel" maxlength="150" required type="text"
        class="form-control custom-input" id="name" placeholder="Nome do aluno" name="name">
      @if(validInput(nameRef) ){
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">O nome do aluno é obrigatório</p>
      </div>
      }
    </div>
    <div class="mb-3 d-flex align-items-end">
      <div class="flex-grow-1 me-2 wrapper">
        <label class="form-label" for="activity">Atividade</label>
        <input [(ngModel)]="activity" #activityRef="ngModel" maxlength="50" required type="text"
          class="form-control custom-input" placeholder="Atividade exercida" id="activity" name="activity">
      </div>
      <app-secondary-button (click)="addActvity()" [disable]="activity.length === 0"  iconClass="ph ph-plus" buttonText="Adicionar "></app-secondary-button>
    </div>

    <div class="group-activity">
      <label class="form-label">Lista de atividades</label>
      <div class="item-list w-100">
        @for (activity of certificate.activities; track $index) {
        <div class="item">
          <span class="item-text">{{activity}}</span>
          <div class="remove-btn" (click)="removeActivity($index)">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>
        @if ($index +1 !== certificate.activities.length) {
        <hr>
        }
        }
      </div>
    </div>
    <app-primary-button [disable]="!validForm()" buttonText="Gerar certificado"></app-primary-button>
  </div>
</form>