.custom-title{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;

  letter-spacing: 0;
  text-align: center;
}

.custom-subtitle{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 142%;

  letter-spacing: 0;
  text-align: center;
  color: #64748B;
}

.content-titles{
  height: 3.75rem;
  gap: .25rem;
}
